#AuthType Basic
#AuthName "Secure"
#AuthBasicProvider file
#AuthUserFile /opt/lampp/passwords/passwd.dat
#AuthGroupFile /opt/lampp/passwords/groups.dat 

RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^/?(.*) https://%{SERVER_NAME}/secure/manager/$1 [R,L]

Require group manager
Require group admin
#Satisfy any 